@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.heading1 {
    font-weight: bold;
    font-size: 25px;
    color: #171717;  
    margin:0;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.searchTemp {
    width: 475px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #D0D5E6;
    font-family: FontAwesome, 'Inter', sans-serif;
    font-size: 14px;
    text-indent: 5px;
}

.searchButton {
    width: 100px;
    height:30px;
    background: #173751;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.tableSpacer {
    margin-bottom: 15px ;
}

.ag-header-viewport{
    background-color: #9CABCA;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.ag-center-cols-viewport{
    background-color: white;
}

.ag-layout-normal {
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.ag-theme-balham .ag-ltr .ag-cell{
    border-bottom: 0.3px solid rgba(23, 55, 81, 0.5);
    border-right: 0.3px solid rgba(23, 55, 81, 0.5);
}

.ag-theme-balham .ag-ltr .ag-cell:last-child{
    border-right: none;
}

.ag-theme-balham .ag-cell{
    border: none;
}

.ag-theme-balham .ag-row {
    border: none;
}

.searchInput{
    text-indent: 30px;
    font-family: 'Inter', sans-serif;
}

.advancedButton{
    margin-left: 10px;
    height:30px;
    background: #173751;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.ag-header-cell-text{
    width: 200px;
}

.ag-cell-value{
    font-size: 14px;
    color: #212121;
}

.ag-root-wrapper.ag-layout-normal{
    margin-top: 10px;
}

.underAgGrid{ 
    height: 20px;
}