.page-section {
  display: flex;
  position: relative;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

body {
  background-color: #f6f9fe;
  overflow-x: hidden;
}

.create__header {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #171717;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.create__body {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 100%;
}
