.create__preview {
  flex-direction: column;
  margin-top: 30px;
  justify-self: center;
  flex-basis: 50%;
  width: 80%;
}

.pdf-preview__doc {
  display: block;
  flex-direction: column;
  align-items: center;
}

.pdf-preview__page > div {
  display: none;
}

#konvaStage {
  position: absolute;
}
