.create__toolbar {
	padding-right: 1%;
	flex-direction: column;
	position: absolute;
	right: 0%;
	/* height: var(--height); */
	display: flex;
	flex-basis: 20%;
	width: 25%;
	height: var(--panelHeight);
	/* float: right; */
	/* overflow-y: scroll; */
}
.toolbar__wrapper {
	border-radius: 5px;
	overflow-y: unset;
	overflow-x: hidden;
	/* padding: 20px; */
	flex-grow: 1;
	background-color: #e5ebf7;
	display: flex;
	flex-direction: column;

	/* box-shadow: -4px 4px 8px rgba(47, 47, 47, 0.15); */
}

.toolbar__header {
	display: flex;
	overflow-y: unset;
	position: relative;
	background-color: #e4ebf7;
	box-shadow: -2px 0 6px rgba(0, 0, 0, 0.25);
	text-align: start;
	/* margin: 10px; */
	padding: 15px;
	z-index: 1;
	align-items: baseline;
}





.submit-wrapper {
	justify-content: flex-end;
}

.create-form-button {
	width: 100%;
	text-align: center;
	height: 30px;
	border-radius: 5px;
	vertical-align: sub;
	margin-top: 15px;
	cursor: pointer;
	border-style:none
}

#addNewAttrButton {
	margin: 0;
	margin-top: 30px;
	width: 100%;
	justify-self: flex-end;
	border: 1px solid #8b9ba8;
}
.create-form-button > span {
	vertical-align: sub;
	font-size: 12px;
}

.okButton {
	background-color: #173751;
	color: #e4ebf7;
}

.okButton:disabled {
	background-color: #8b9ba8;
	color: #e4ebf7;
}

.cancelButton {
	border: 1px solid #8b9ba8;
}


